:root {
    --sidebar-width: 150px
}

.sidebar {
    width: var(--sidebar-width);
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto; /* Adds scrollbars when necessary */
}

.sidebar a {
    display: block;
    color: black;
    padding: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

div.content {
    margin-left: var(--sidebar-width);
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        display: none;
    }
    div.content {
        margin-left: 0px;
    }
}
